*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(68.15deg, #0f0f0f 16.62%, #858585 85.61%);
    


}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}
.img{
    width: 120px;
}
.title{
    color: #ffffff;
    font-size: 50px;
}
#color-black{
    color: #0f0f0f;
    text-decoration: underline #ffffff 2px;
}


h4{
    text-align: center;
    padding: 15px;
}


.Clearbutton{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#buttonClear{
    width: 160px;
    height: 50px;
    padding: 10px;
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #Ff0000;
}



#buttonUnit{
    color: #ffffff;
    background-color: #Ff0000;
    align-items: center;
}

#buttonClear:hover,
#buttonUnit:hover {
    background-color: #9c3b3b;
}


.buttons-calculate{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}





div.container{
    /* background-color: white; */
    border-radius: 15px;
    padding: 30px;
    font-size: 22px;
    color: #ffffff;
}


div.container form{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

div.container form input{
    font-size: 16px;
    padding: 10px;
    text-align: right;
    color: #858585;
    max-width: 100px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #4e4e4e;
    outline: 0;
    transition: border 0.3s;
}

div.container form input:hover,
div.container form input:focus,
div.container form input:valid{
    border: 1px solid #0f0f0f;
    
}

div.container form 
input::-webkit-inner-spin-button{
    display: none;
}

div.container div{
    width: 100%;
    display: flex;
    align-items: center;
}

div.container div button{
    padding: 10px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #01af01;
    border: 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
div.container div button:hover{
    background-color: #00ff0057;
}

div.container div span{
    margin-left: 15px;
}

.rodape {
    padding: 1px;
    border-top: 0.4px solid #FFF2E7;
    margin-top: 150px;
    
}
/* .rodape2 {
    background-color: #0e0000;
} */
.direitos-autorais1 {
    text-align: center;
    font-weight: 5;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 5px;
    color: #ffffff;   
}

/* responsiveness coming soon */